<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    
<div class="panel panel-primary">
    <div class="panel-heading center"><h1>Show Pin</h1></div>
    <div class="panel-body">

  <%=image_tag @pin.image.url(:medium)%><br/>
   <%= @pin.descrition %><br> 
     <%= @pin.user.name %> <br/>


<%if @pin.user == current_user %>
<%= link_to 'Edit', edit_pin_path(@pin) %> |
<% end %>
<%= link_to 'Back', pins_path %>
</div>
</div>
</div>
</div>